input{
  padding:5px 15px;
  height:30px;
}
.Header{
  border-bottom:1px solid #ccc;
  text-align:center;
  padding-top:50px;
}
.carData{
  text-align:center;
  margin-top:40px;
  padding-bottom:50px;
}
h3{
  text-align: center;
}